.dayOfWeek{
  display: flex;
  /* min-width: 55px; */
  height: 75px;
  border: 1px solid green;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
}

.dayOfWeekHidden{
  width: 55px;
  height: 75px;
  box-sizing: border-box;
  margin: 5px;
}