.lessonTime{
    display: flex;
    width: 250px;
    height: 50px;
    border: 1px solid green;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
}

.time{
    display: flex;
    justify-content: space-between;
}