.card {
    display: flex;
    max-width: 300px;
    min-height: 70px;
    border-radius: 10px;
    box-sizing: border-box;

    align-items: center;
    gap: 5px;
    padding: 5px;
    margin: 5px;
    color: white;

    border: 4px solid #0000;
    border-radius: 10px;
    animation: 5s rotate linear infinite;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.pending {
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #14bae4,
            #687aff) border-box;
}



.progress {
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #0af03c,
            #16e4eb) border-box;
}


.canceled {
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #f0530a,
            #e91f04) border-box;
}


.modified {
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #d89606,
            #8ad80d) border-box;
}


.progress {
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #a406ee,
            #360cf1) border-box;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}