@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

.footer {
    display: flex;
    background-color: black;
    color: white;
    height: 200px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 10px;
}