.card{
    display: flex;
    /* min-width: 250px; */
    height: 75px;
    border: 1px solid green;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
}

.subject{
    align-self: center;
}

.info {
    display: flex;
    justify-content: space-between;
}